body {
margin: 0;
padding:0;
box-sizing: border-box;
}

.main-form{
  height: 90vh;
  display: flex;
}
.register{
  width: 450px;
  margin: auto;
  box-shadow: 2px 5px 10px;
}
@media (min-width: 577px) {
  .register {
    width: 80%;
  }
}
@media (min-width: 767px) {
  .register {
    width: 600px;
  }
}

